<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Data</title>
</head>

<body>
    <h3>Students - Flask SQLAlchemy example</h3>
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div>
        {{ message }}
    </div>
    {% endfor %}

    <form action="{{ request.path }}" method="post">
        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="Name"><br>
        <label for="description">Description</label><br>
        <input type="text" name="description" placeholder="Description"><br>
        <label for="status">Status</label><br>
        <textarea name="status" cols="30" rows="10" placeholder="Status of Task"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>