<!-- write a register.html for /register route -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <!-- form for user registration which take username & password for flask app -->
    <h1>Enter Signup Credentials</h1>
    <form action="/signup" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>